* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    background-color: red;
    border: 1px solid gray;
    padding: 20px;
    color: white;
}

.item-3 {
    align-self: start;
}